.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.align-text{
    text-align: center;
}

section, #postContainer{
    font-family: 'Quicksand', sans-serif;
}

#postContainer{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f0f0f0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 11px 49px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 49px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 49px -15px rgba(0,0,0,0.75);
}